// the main color palette

$primary-color: #ee6c4d;
$secondary-color: #98c1d9;
$dark-color: #181d26;
$light-color: #e0fbfc;
$accent-color: #3d5a80;

// General color
$success-color: #5cb85c;
$warning-color: #f0ad4e;
$error-color: #d9534f;

// sizes & width
$content-width: 1200px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$hg: 50px;
